.root {
  background-color: lightsalmon;
  height: 100vh;
}

.btn {
  background-color: white;
  height: 50px;
  width: 100px;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal;
}

.div {
  height: 100px;
  background-color: green;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid red;

  width: 50%;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}

img {
  height: 100px;
  width: 100px;
}
/* p {
  margin-left: 20px;
} */

.pay {
  text-decoration-color: blue;
  background-color: white;
  text-align: center;
  color: #528ff0;
}


.nice {
  height: 500px;
  width: 500px;
  color: blue;
  background-color: antiquewhite;
}
.MyCard{
  background-color: #f4f4f4;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 5px;

}
